joltc
.build

# generated windows library files and windows binding
windows.jai
windows

# object files
*.obj
*.o

# ignore everything in examples folder except jai files
examples
!examples/*.jai

# generated unix library files and bindings
unix.jai
linux

